header {
    height: 10vh;
    background-color: lightcoral;
}

main {
    height: 85vh;
    background-color: lightcyan;
    overflow-y: scroll;
    padding: 1rem;
}

img {
    width: 50px;
}

footer {
    height: 5vh;
    background-color: lightyellow;
}